 
 <div class="container" style="text-align:center; margin-top: 2%;">
  <li class="list-group-item">Araç Detayı</li>
  <li class="list-group-item"><button type="button" class="btn btn-success">Kirala</button></li>
<div style="margin-top: 3%;">
 
<div>
  <td></td> 
</div>
<ul>
  <li *ngFor="let image of carImages">
      <img
       src="https://localhost:44388/{{image.imagePath}}" alt="Kirala" style="width: 100%;">
  </li>
</ul>
</div>

<div>
<ul class="list-group">
  <li class="list-group-item">Araç No : {{car.carId}}</li>
  <li class="list-group-item">Günlük Kira : {{car.dailyPrice}}</li>
  <li class="list-group-item">Haftalık Kira : {{car.dailyPrice |weeklyRent:6}}</li>

</ul>

</div>
</div>